[Unit]
Description=Disable fsck at mount
Before=umount.target

[Service]
ExecStart=/bin/true
ExecStop=/usr/local/bin/disable-fsck-at-mount.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
