[Unit]
Description=Test daemon
After=network.target

[Service]
Type=simple
TimeoutSec=5
KillMode=process
Restart=always
ExecStart=/tmp/my-daemon
LimitCORE=infinity

[Install]
WantedBy=multiuser.target
