base-url=<%= @base_url %>
installation-uuid=<%= @installation_uuid %>
listen-port=<%= @port %>
additional-keystore-password=lwPuB0g5NY
listen-address=0.0.0.0
port-base.cassandra=10030
logs-dir=logs
temp-dir=temp
port-base.upsource-frontend=10010
statistics-upload=false
<% if @hub_url -%>
hub-url=<%= @hub_url %>
<% end -%>
root-user=admin
backups-dir=backups
data-dir=data
allow-anonymous-access=true
locale=en-US
disable.hub=<%= @hub_url ? 'true' : 'false' %>
port-base.upsource-cluster-init=10020
