#Bundle Settings. Don't update this file manually, use command line API instead: /usr/local/jetbrains-upsource/bin/upsource.sh configure --propertyName=newValue
#Fri Feb 10 15:10:15 CET 2017
base-url=<%= @base_url %>
installation-uuid=<%= @installation_uuid %>
port-base.bundle-hub-configurator=10000
additional-keystore-password=lwPuB0g5NY
listen-port=<%= @port %>
listen-address=0.0.0.0
port-base.cassandra=10030
logs-dir=logs
temp-dir=temp
port-base.upsource-frontend=10010
statistics-upload=true
root-user=admin
data-dir=data
backups-dir=backups
allow-anonymous-access=true
locale=en-US
disable.hub=false
port-base.upsource-cluster-init=10020
