<% if @hub_url -%>
hub-url=<%= @hub_url %>
<% end -%>
backups-dir=backups
temp-dir=temp
data-dir=data
disable.hub=<%= @hub_url ? 'true' : 'false' %>
installation-uuid=<%= @installation_uuid %>
listen-port=<%= @port %>
root-user=admin
allow-anonymous-access=true
listen-address=0.0.0.0
additional-keystore-password=lwPuB0g5NY
statistics-upload=false
locale=en-US
logs-dir=logs
port-base.bundle-hub-configurator=10000
base-url=<%= @base_url %>
